<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ title }}</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/regist.css">

  <style>
    input{
      font-size:16px;
    }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/regist.min.js?{{ time }}"></script>
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  {{ common }}
</head>
<body>
  <div class="contents ml7-l">
    <div class="inner">
      <div class="main">
	<section>
	  <h2>仮登録シート</h2>
	  <form id="entryform" class="active" action="entryConfirm" method="post">
	  <table class="ta1 mb1em">
	    <tr>
	      <th colspan="2" class="tamidashi"><span class="red">※</span>マークは入力必須です</span>{{ error }}</th>
	    </tr>
	    <tr>
	      <th rowspan="2">お名前<span class="red">※</span><br>Name</th>
	      <td>フリガナ：<input type="text" name="ename" placeholder="ヤマモト" size="30" class="ws" value="{{ ename }}"><br>Katakana</td>
	    </tr>
	    <tr>
	      <td>漢字/ローマ字：<input type="text" name="name" placeholder="Dogwood 太郎" size="30" class="ws" value="{{ name }}"><br>Kanji/Romaji</td>
	    </tr>
	    <tr>
	      <th>性別<span class="red">※</span><br>Gender</th>
	      <td>
		{% if gender == 'male' %}
		  男 Male <input type="radio" name="gender" value="male" checked>
		{% else %}
		  男 Male <input type="radio" name="gender" value="male">
		{% endif %}
		{% if gender == 'female' %} 　
		  女 Female <input type="radio" name="gender" value="female" checked>
		{% else %}
		  女 Female <input type="radio" name="gender" value="female">
		{% endif %}
	      </td>
	    </tr>
	    <tr>
	      <th>生年月日<span class="red">※</span><br>Birthdate</th>
	      <td>
		<select name="year">
		  <option value="">-</option>
		  {% for value in year_list %}
		    {% if year|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>年&nbsp;
		<select name="month">
		  <option value="">-</option>
		  {% for value in month_list %}
		    {% if month|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>月
		<select name="day">
		  <option value="">-</option>
		  {% for value in day_list %}
		    {% if day|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>日
	      </td>
	    </tr>
	    <tr>
	      <th>国籍<span class="red">※</span><br>Nationality</th>
	      <td>
		<select name="nationality">
		  <option value="" selected>-</option>
		  {% for value in nationality_list %}
		    {% if nationality == value %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>日本語能力<span class="red">※</span><br>Japanese skill</th>
	      <td>
		<select name="japanese">
		  <option value="" selected>-</option>
		  {% for value in japanese_list %}
		    {% if japanese == value %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>語学力<span class="red">※</span><br>Language skill</th>
	      <td>
		<select name="language_1" class="mb1">
		  {% if not language_1 %}
		    <option value="" selected>-</option>
                  {% endif %}
		  {% for key, value in language_list.items() %}
		    {% if language_1 == key %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
		    {% endif %}
                  {% endfor %}
		</select>,
		<select name="language_2" class="mb1">
		  {% if not language_2 %}
		    <option value="" selected>-</option>
                  {% endif %}
		  {% for key, value in language_list.items() %}
		    {% if language_2 == key %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
		    {% endif %}
                  {% endfor %}
		</select>,
		<select name="language_3" class="mb1">
		  {% if not language_3 %}
		    <option value="" selected>-</option>
                  {% endif %}
		  {% for key, value in language_list.items() %}
		    {% if language_3 == key %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
		    {% endif %}
                  {% endfor %}
		</select>,<br>
		<select name="language_4" class="mb1">
		  {% if not language_4 %}
		    <option value="" selected>-</option>
                  {% endif %}
		  {% for key, value in language_list.items() %}
		    {% if language_4 == key %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
		    {% endif %}
                  {% endfor %}
		</select>,
		<select name="language_5" class="mb1">
		  {% if not language_5 %}
		    <option value="" selected>-</option>
                  {% endif %}
		  {% for key, value in language_list.items() %}
		    {% if language_5 == key %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
		    {% endif %}
                  {% endfor %}
		</select>
		<input type="hidden" name="language">
		<input type="hidden" name="lang_str">
	      </td>
	    </tr>
	    <tr>
	      <th>メールアドレス<span class="red">※</span><br>e-mail</th>
	      <td><input type="text" name="mail" placeholder="aaa@gmail.comなど" size="30" class="ws" value="{{ mail }}"></td>
	    </tr>
	    <tr>
	      <th>電話番号<span class="red">※</span><br>Tel</th>
	      <td><input type="text" name="phone" placeholder="08011112222など" size="30" class="ws" value="{{ phone }}"></td>
	    </tr>
	    <tr>
	      <th>ご住所<span class="red">※</span><br>Address(prefectures)</th>
	      <td>
		郵便番号:<input type="text" placeholder="222" name="zip31" size="4" maxlength="3" value="{{ zip31 }}"> － <input type="text" name="zip32" placeholder="0001" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zip31','zip32','pref31','addr31','addr31');" value="{{ zip32 }}">　↓auto↓<br>
	      都道府県(prefectures):<input type="text" name="pref31" size="20" value="{{ pref31 }}">
	    </tr>
	    <tr>
	      <th>ご住所(市区町村以下)<span class="red">※</span><br>Address (city and details)</th>
	      <td><input type="text" name="addr31" placeholder="神戸市〜区〜 Kobe shi～ward etc." size="40" class="wl" value="{{ addr31 }}"></td>
	    </tr>
	    <tr>
	      <th>ビザ<span class="red">※</span><br>Visa status</th>
	      <td>
		  <select name="visa">
		  {% for value in visa_list %}
		    {% if visa == value %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		  </select>
	      </td>
	    </tr>
	    <tr>
	      <th>ビザの有効期限<span class="red">※</span><br>Expiration date of Visa</th>
	      <td>
		<select name="expiration_year" id="year_select_visa_expiration">
		  <option value="" selected>-</option>
		  {% for value in year_expiration_list %}
		    {% if expiration_year|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>年&nbsp;
		<select name="expiration_month" id="month_select_visa_expiration">
		  <option value="" selected>-</option>
		  {% for value in month_list %}
		    {% if expiration_month|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>月
		<select name="expiration_day" id="day_select_visa_expiration">
		  <option value="" selected>-</option>
		  {% for value in day_list %}
		    {% if expiration_day|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>日<br>
		※永住の場合は入力しなくてOKです
	      </td>
	    </tr>
	    <tr>
	      <th>希望職種<span class="red">※</span><br>Preferred job type</th>
	      <td><input type="text" name="jobtype" placeholder="通訳、デザイナー、ホテルなど Interpreter, designer、hotel" size="30" class="wl" value="{{ jobtype }}"></td>
	    </tr>
	    <tr>
	      <th>希望条件（給料）<br>Desired conditions (salary)</th>
	      <td><input type="text" name="salary" placeholder="" size="30" class="wl" value="{{ salary }}"></td>
	    </tr>
	    <tr>
	      <th>希望勤務地<span class="red">※</span><br>Preferred workplace</th>
	      <td><select name="work_location">
		  <option value="">都道府県選択</option>
		  {% for key, value in prefectures_list.items() %}
		    {% if work_location == value %}
		      <option value="{{ key }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>転職希望日<span class="red">※</span><br>Date of Job Change</th>
	      <td>
		<select name="jobchange_date_year">
		  <option value="" selected>-</option>
		  {% for value in year_expiration_list %}
		    {% if jobchange_date_year|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>年&nbsp;
		<select name="jobchange_date_month">
		  <option value="" selected>-</option>
		  {% for value in month_list %}
		    {% if jobchange_date_month|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>月
		<select name="jobchange_date_day">
		  <option value="" selected>-</option>
		  {% for value in day_list %}
		    {% if jobchange_date_day|int == value|int %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>日<br>
	      </td>
	    </tr>
	    <tr>
	      <th>大学名(在学中の方)<br>College/University name</th>
	      <td><input type="text" name="college" placeholder="〜大学など Bachelor degree, etc." size="30" class="wl" value="{{ college }}"></td>
	    </tr>
	    <tr>
	      <th>最終学歴<br>Academic background</th>
	      <td><input type="text" name="final_education" placeholder="〜大学など Bachelor degree, etc." size="30" class="wl" value="{{ final_education }}"></td>
	    </tr>
	    <tr>
	      <th>資格・免許<br>Qualification　．license</th>
	      <td><input type="text" name="license" placeholder="運転免許書など Driving license etc." size="30" class="wl" value="{{ license }}"></td>
	    </tr>
	    <tr>
	      <th>職歴<br>work experience</th>
	      <td><input type="text" name="career" placeholder="通訳、デザイナーなど Interpreter, designer etc" size="30" class="wl" value="{{ career }}"></td>
	    </tr>
	    <tr>
	      <th>転職希望か<br>Presence of Job Change</th>
	      <td>
		Yes <input type="radio" name="jobchange" size="10" value="1">　
		No <input type="radio" name="jobchange" size="10" class="" value="0" checked>
	      </td>>
	    </tr>
	    <tr>
	      <th>特定技能の有無<br>Presence of Specific skills</th>
	      <td>
		<select name="specific_skills">
		  <option value="" selected>-</option>
		  {% for value in specific_skills_list %}
		    {% if specific_skills == value %}
		      <option value="{{ value }}" selected>{{ value }}</option>
		    {% else %}
		      <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>特定技能を受験予定か<br>Plan to take Specific skills exam</th>
	      <td>
		Yes <input type="radio" name="specified_skilled_plans" size="10" value="1">　
		No <input type="radio" name="specified_skilled_plans" size="10" class="" value="0" checked>
	      </td>
	    </tr>
	  </table>
          <input type="hidden" name="token" value="{{ token }}">
	  <p class="c">
	    <input type="submit" id="entrySubmit" value="内容を確認する">
	  </p>
	  </form>
	</section>
      </div>
<!--/main-->
    </div>
<!--/inner-->
  </div>
<!--/contents-->
  <p id="pagetop" class="inner"><a href="#">↑</a></p>
  <footer>
    <div id="copyright">
      <small>Copyright&copy; 2019 <a href="https://dogwood-community.jp">Dogwood Community</a> All Rights Reserved.</small>
    </div>
  </footer>
</body>
</html>

