<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/regist.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="/js/regist.min.js"></script>
  {{ common }}
</head>
<body>
  <div class="contents ml7-l">
    <div class="inner tc">
      <div class="main">
        <p class="c">
	  <h2>Error</h2>
	  <a class="close">サブウィンドウを閉じて再度時間を置いてトップページからやり直してください。</a><br>
	  ※右下のバツを押してください。
	</p>
      </div>
<!--/main-->
    </div>
<!--/inner-->
  </div>
<!--/contents-->
  <p id="pagetop" class="inner"><a href="#">↑</a></p>
  <footer>
    <div id="copyright">
      <small>Copyright&copy; 2019 <a href="https://dogwood-community.jp">Dogwood Community</a> All Rights Reserved.</small>

    </div>
  </footer>
</body>
</html>

