<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/regist.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="/js/regist.min.js?{{ time }}"></script>
  {{ common }}
</head>
<body>
  <div class="contents ml7-l">
    <div class="inner">
      <div class="main tc">
        <p class="c">
	  <h2>My Page</h2>
	</p>
      </div>
      <div class="main ph2 ph3-l">
	<h3>ユーザ情報</h3>
      </div>
      <div class="main ph4 ph5-l">
	<a class="underline pointer mb3" href="/myEntryDetail">登録情報の確認</a><br>
	<a class="underline pointer" href="/entryEdit">登録情報の変更</a><br>
	<span class="red f7">※本登録中の場合は変更できません。</span><br>
	<br>
	<a class="underline pointer close" href="/logout">ログアウト</a><br>
      </div>
<!--/main-->
    </div>
<!--/inner-->
  </div>
<!--/contents-->
  <footer>
    <div id="copyright">
      <small>Copyright&copy; 2019 <a href="https://dogwood-community.jp">Dogwood Community</a> All Rights Reserved.</small>

    </div>
  </footer>
</script>
</body>
</html>

