@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav.gnav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav.gnav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*================================================
 *  一般・共通設定
 ================================================*/
body {
	font-size: 14px;
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%;
}

#contents {
	width: 980px;
	margin: 0 auto;
}

header + #contents {
	padding-top: 50px;
}

.inner {
	position: relative;
	width: 980px;
	margin: 0 auto;
}

a {
	color: #043771;
}
a:hover {
	color: #144d8d;
}

h1 {
	font-size: 28px;
}

h2 {
	margin-top: 50px;
	margin-bottom: 0.5em;
	font-size: 28px;
	color: #333;
	text-align: center;
	line-height: 1.0;
}

h2 span {
	position: relative;
	font-size: 12px;
}

h2 span:before {
	position: absolute;
	top: 50%;
	left: -20px;
	z-index: 1;
	content: '';
	display: block;
	width: 1em;
	margin-top: -1px;
	border-top: 1px solid #333;
}

h2 span:after {
	position: absolute;
	top: 50%;
	right: -20px;
	z-index: 1;
	content: '';
	display: block;
	width: 1em;
	margin-top: -1px;
	border-top: 1px solid #333;
}

h3 {
	margin-bottom: 0.25em;
	font-size: 18px;
}

h4 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-size: 16px;
	font-weight: bold;
}

h5 {
	margin-bottom: 0.25em;
	padding-left: 25px;
	font-size: 16px;
	background: url('../images/bg_arrow_black.png') 0 50% no-repeat;
}

h6 {
	margin-bottom: 0.25em;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

p {
	margin:0 0 1em 0;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

em {
	font-weight: bold;
}

strong {
	font-weight: bold;
	color: #ff0000;
}

pre {
	margin:1em 0;
	padding:1em;
}

blockquote {
	margin-bottom: 1em;
	padding: 1em;
	border: 1px dotted #ddd;
	border-left: 5px solid #ddd;
}

ul,ol,dl {
	margin: 0 0 1em 0;
}
ul li {
	list-style: disc;
}
ol li {
	list-style: decimal;
}
li {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.5em;
	border-bottom: 1px dotted #ddd;
}
dd {
	margin-bottom: 1em;
}

table {
	width: 100%;
	margin-bottom: 1em;
	border-collapse: collapse;
	border: 1px solid #ddd;
}
th {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	background: #f1f1f1;
}
td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

/*================================================
 *  汎用クラス
 ================================================*/
/* 中央寄せ */
.center {
	text-align: center;
}

/* 左寄せ */
.left {
	text-align: left;
}

/* 右寄せ */
.right {
	text-align: right;
}

/* 写真中央寄せ */
.imgC {
	clear:both;
	overflow:hidden;
	margin: 0 auto 50px auto;
	margin-bottom:50px;
	text-align:center;
}
.imgC img {
	margin-bottom:10px;
}

/* 写真左寄せ */
.imgL {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
}
.imgL img {
	float:left;
	margin:0 10px 0 0;
}

@media screen and (max-width:767px) {
	.imgL {
		margin-bottom:20px;
	}
	.imgL img {
		float:none;
		margin:0 0 10px 0;
	}
}

/* 写真右寄せ */
.imgR {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
}
.imgR img {
	float:right;
	margin:0 0 0 10px;
}

@media screen and (max-width:767px) {
	.imgR {
		clear:both;
		overflow:hidden;
		margin-bottom:20px;
	}
	.imgR img {
		float:right;
		margin:0 0 10px 0;
	}
}

/* 写真ズーム */
.zoom {
	overflow: hidden;
}
.zoom img {
	display: block;
	-moz-transition: -moz-transform 0.8s linear;
	-webkit-transition: -webkit-transform 0.8s linear;
	-o-transition: -o-transform 0.8s linear;
	-ms-transition: -ms-transform 0.8s linear;
	transition: transform 0.8s linear;
}
.zoom img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.zoom img {
	margin-bottom: 0;
}

/* オーバーレイ */
.overlay {
	position: relative;
}
.overlay::after{
	background: rgba(0,0,0,.5);
	content: "　";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .3s ease-out;
	pointer-events: none;
}
.overlay:hover::after {
	background: rgba(0,0,0,.1);
	transition: all .3s ease-out;
}
.overlay img {
	margin-bottom: 0;
}

/* ボタン */
.btn a {
	position: relative;
	display: inline-block;
	padding: 8px 40px 8px 40px;
	color: #fff !important;
	text-align: center;
	text-decoration: none;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	z-index: 1;
	background: #000;
}
.btn a:hover {
	color: #fff;
	background: #333;
}

/* 2カラム（スマートフォンでは1カラム) */
.twoCol {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position:relative;
	overflow:hidden;
	margin-bottom:60px;
}
.twoCol .inner {
	position: relative;
	overflow:hidden;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-direction: column-reverse;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	flex-direction: column;
	width: 48.98%;
	width: calc((480 / 980) *100%);
	height: auto;
	margin:0 0 20px 0;
}
.twoCol .inner div:nth-child(2n+1) {
	clear:both;
}
.twoCol .inner .image {
	width: 100%;
	min-height: 0%;
}
.twoCol .inner img {
	width:100%;
}

@media screen and (max-width:767px) {
	.twoCol {
		display: block;
		margin-bottom:20px;
	}
	.twoCol .inner {
		width :100%;
		margin:0 0 10px 0;
	}
}

/* 3カラム（スマートフォンでは1カラム) */
.threeCol {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	margin-bottom:60px;
}
.threeCol .inner {
	position: relative;
	overflow: hidden;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 32.14%;
	width: calc((315 / 980) *100%);
	margin: 0 0 20px 0;
}
.threeCol .inner:nth-child(3n+1) {
	clear:both;
}
.threeCol .inner h4 {
	width: 100%;
	margin-top: 0.5em;
	text-align: left;
}
.threeCol .inner p {
	width: 100%;
	margin-bottom: 0;
	text-align: justify;
}
.threeCol .inner > a {
	width: 100%;
	height: 100%;
}
.threeCol .inner .image {
	width: 100%;
	min-height: 0%;
}
.threeCol .inner img {
	width: 100%;
}
.threeCol .inner .btn {
	margin-top: auto;
	padding-top: 20px;
}
.threeCol .inner .text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	pointer-events: none;
}

@media screen and (max-width:767px) {
	.threeCol {
		display: block;
		margin-bottom: 20px;
	}
	.threeCol .inner {
		width : 100%;
		margin: 0 0 10px 0;
	}
}

/* 4カラム（スマートフォンでは2カラム) */
.fourCol {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	margin-bottom: 60px;
}
.fourCol .inner {
	position: relative;
	overflow: hidden;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	-ms-flex-direction: column-reverse;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	flex-direction: column;
	width: 23.46%;
	width: calc((230 / 980) *100%);
	margin: 0 0 20px 0;
}
.fourCol .inner .image {
	width: 100%;
	min-height: 0%;
}
.fourCol .inner img {
	width: 100%;
}

@media screen and (max-width:767px) {
	.fourCol {
		display: block;
		margin-bottom: 20px;
	}
	.fourCol .inner {
		box-sizing: border-box;
		width: 50%;
		margin: 0;
	}
	.fourCol .inner:nth-child(odd) {
		clear: both;
		float: left;
		padding: 0 5px 10px 0;
	}
	.fourCol .inner:nth-child(even) {
		float: right;
		padding: 0 0 10px 5px;
	}
}

/* お知らせ */
.information {
	margin-bottom: 80px;
}

.information dt {
	clear: both;
	float: left;
	margin: 0;
	padding: 10px 0;
	vertical-align: top;
	border-bottom: none;
}

.information dd {
	margin: 0;
	padding: 10px 0 10px 8em;
	vertical-align: top;
	border-bottom: 1px dotted #333;
}

@media screen and (max-width:767px) {
	.information {
		margin-bottom: 40px;
	}

	.information dt {
		float: none;
		margin: 0;
		padding: 10px 0 0 0;
		vertical-align: top;
		border-bottom: none;
	}

	.information dd {
		margin: 0;
		padding: 0 0 10px 0;
		vertical-align: top;
		border-bottom: 1px dotted #333;
	}
}

/*================================================
 *  ヘッダー
 ================================================*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 100;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

header h1 {
	float: left;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	color: #000;
}

header h1 img {
	vertical-align: middle;
}

@media screen and (max-width:768px) {
	header h1 {
		padding: 0 0 0 10px;
	}
}

/*================================================
 *  グローバルナビゲーション
 ================================================*/
/* PC用 */
@media print, screen and (min-width:769px) {
	nav.gnav:after {
		content: '';
		display: block;
		clear: both;
	}
	nav.gnav {
		float: right;
	}

	/* 共通 */
	nav.gnav ul {
		margin: 0;
		padding: 0;
	}
	nav.gnav ul li {
		position:  relative;
		line-height: 50px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	nav.gnav ul li a {
		display: block;
		background: #fff;
		color: #000;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
	}
	nav.gnav ul li:hover > a {
		color: #fff;
		background:#000;
	}

	/* 1段目 */
	nav.gnav > ul > li {
		position: relative;
		width: 120px;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
		line-height: 50px;
	}
	nav.gnav > ul > li.subnav a {
		padding-right: 20px;
	}
	nav.gnav > ul > li.subnav > a:after {
		position: absolute;
		content: "";
		top: 50%;
		width: 0;
		height: 0;
		margin-top:  -2.5px;
		margin-left: 10px;
		border: 5px solid transparent;
		border-top-color: #fff;
	}

	/* 2段目 */
	nav.gnav ul li ul {
		position: absolute;
		z-index: 3;
		top: 100%;
		left: 0;
		width: 180px;
		margin: 0;
		padding: 0;
	}
	nav.gnav ul li ul li {
		overflow: hidden;
		height: 0;
		color: #fff;
		transition: .2s;
	}
	nav.gnav ul li ul li a {
		padding: 0 15px;
		text-align: left;
		background:#eee;
		font-weight: normal;
	}
	nav.gnav ul li ul li a:hover {
		background:#777;
	}
	nav.gnav ul li:hover > ul > li {
		overflow: visible;
		height: 40px;
		line-height:  40px;
		border-bottom: 1px solid #fff;
	}
	nav.gnav ul li:hover ul li:last-child {
		border-bottom: none;
	}
	nav.gnav > ul > li:last-child > ul {
		left: -60px;
	}
	nav.gnav ul li ul li ul:before {
		position: absolute;
		content: "";
		top: 17.5px;
		left: -20px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-left-color: #fff;
	}
	nav.gnav > ul > li:last-child ul li ul:before {
		position: absolute;
		content: "";
		top: 17.5px;
		left: 200%;
		margin-left: -20px;
		border: 5px solid transparent;
		border-right-color: #fff;
	}

	/* 3段目 */
	nav.gnav ul li ul li ul {
		top: 0;
		left: 100%;
	}
	nav.gnav ul li ul li ul li {
		width: 100%;
	}
	nav.gnav ul li ul li:hover > ul > li {
		border-bottom: 1px solid #555;
	}
	nav.gnav > ul > li:last-child > ul li ul {
		left: -100%;
	}
	nav.gnav ul li ul li ul li a {
		background: #444;
	}
	nav.gnav ul li ul li ul li a:hover {
		background: #666;
	}

	/* 3段目 */
	nav.gnav > ul {
		display: block !important;
	}
	#spMenu {
		display: none;
	}
}

/* タブレット・スマートフォン用 */
@media screen and (max-width:768px) {
	nav.gnav {
		display:  none;
	}
	nav.gnav ul {
		margin: 0;
		padding: 0;
	}
	nav.gnav > ul {
		z-index: 2;
		overflow: auto;
		position: fixed;
		top: 50px;
		right: 0;
		width: 100%;
		height: 88%;
		height: -webkit-calc(100% - 50px);
		height: calc(100% - 50px);
	}
	nav.gnav li {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		text-align: left;
		list-style: none;
		border-bottom: 1px solid #333;
		background: #000;
	}
	nav.gnav li:first-child {
		border-top: 0;
	}
	nav.gnav li:last-child {
		border-bottom: 0;
	}
	nav.gnav li a {
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
		background: #000;
	}
	nav.gnav li a:hover {
		color: #fff;
		background: #222;
	}
	nav.gnav ul ul {
		display: none;
		position: relative;
	}
	nav.gnav li li a {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 30px 10px 34px;
		text-align: left;
	}
	nav.gnav li li li a {
		padding: 10px 20px 10px 48px;
	}

	nav.gnav .subnav > a:before {
		display: block;
		content: "";
		position: absolute;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 20px;
		right: 20px;
		width: 10px;
		height: 10px;
		margin-top: -5px;
		background: #f1f1f1;
	}
	nav.gnav .subnav > a:after {
		display: block;
		content: "";
		position: absolute;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 20px;
		right: 20px;
		width: 10px;
		height: 10px;
		margin-top: -10px;
		background: #000;
	}
	nav.gnav .subnav a:hover:after {
		background: #222;
	}
	nav.gnav .subnav.active > a:before {
		margin-top: 0;
	}
	nav.gnav .subnav.active > a:after {
		margin-top: 5px;
	}

	.spMenuWrap {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		-webkit-transition:  all 1s;
		-moz-transition:  all 1s;
		-ms-transition:  all 1s;
		-o-transition:  all 1s;
		transition:  all 1s;
		background: transparent;
	}

	#spMenu {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#spMenu:hover {
		cursor: pointer;
	}

	#navBtn {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 5%;
		background: #333;
	}
	#navBtnIcon {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 14px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #f1f1f1;
		transition: .2s;
	}
	#navBtnIcon:before,
	#navBtnIcon:after {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 14px;
		height: 2px;
		background: #f1f1f1;
		transition: 0.3s;
	}
	#navBtnIcon:before {
		margin-top: -6px;
	}
	#navBtnIcon:after {
		margin-top: 4px;
	}
	#navBtn .close {
		background: transparent;
	}
	#navBtn .close:before,
	#navBtn .close:after {
		margin-top: 0;
	}
	#navBtn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#navBtn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
}

/*================================================
 *  フッター
 ================================================*/
footer {
	clear: both;
	margin-top: 80px;
	background: #ddd;
}

.fnav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	margin: 0 50px;
	padding: 20px 0;
}

.fnav > ul {
	width: 33%;
	margin-bottom: 0;
	font-size: 12px;
}
.fnav > ul li {
	text-align: left;
}

.copyright {
	padding: 20px 0;
	color: #fff;
	font-size: 11px;
	text-align: center;
	background: #000039;
}

@media screen and (max-width:767px) {
	footer {
		margin-top: 40px;
	}

	.fnav {
		display: block;
		margin: 0;
	}
	.fnav > ul {
		width: 100%;
	}
}

/*================================================
 *  ページトップへの戻り
 ================================================*/
.totop {
	position:fixed;
	bottom:15px;
	right:15px;
	z-index:1;
}
.totop a {
	display:block;
	text-decoration:none;
}
.totop img {
	background:#111;
}
.totop img:hover {
	background:#222;
}

/*================================================
 *  スライドショー
 ================================================*/
.slide {
	padding-top: 50px;
	overflow: hidden;
	position: relative;
}
.slideInner {
	list-style: none;
	margin: 0;
	padding: 0;
}
.slideInner li {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

/*================================================
 *  タブレット・スマートフォン向けデザイン
 ================================================*/
/* テンプレートより小さくなった場合に適用 */
@media screen and (max-width:979px) {
	.inner {
		width: 100%;
	}

	#contents {
		box-sizing: border-box;
		width: 100%;
		padding: 0 10px;
	}

	footer {
		width: 100%;
	}

	.lock {
		overflow: hidden;
	}
}

/*================================================
 *  追加デザイン
 ================================================*/
/* ページトップ画像 */

#page-photo {
	width: 100%;
	margin: 30px auto;
	background-image:url(../images/photo-7.png);
	color:#000;
}

/* 検索窓 */

::selection {
   background: #212129;

}

.search-wrapper {
    position: absolute;
    left:  10px;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:450px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:50px;
    height:50px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
	left:5px;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #666666;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #666666;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
	top:15px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #666666;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

@media screen and (min-width:767px) {

.cent {
    position:relative;
    left:  75px;

}
}


@media screen and (max-width:767px) {


::selection {
   background: #212129;
}

.search-wrapper {
    position: absolute;
    left:  0px;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 50px;
    width:50px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:300px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:-30px 50px 0 0px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:50px;
    height:50px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    left:  20px;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 0px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #666666;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #666666;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #666666;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

.cent {
  max-width: 70%;
  margin: 0 auto;
}

}

/* ２カラム */
.infsin{
  overflow: hidden;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.fntL{
  float: left;
  width: 60%;
}
.fntR{
  float: right;
  width: 40%;

}
@media only screen and (max-width: 767px) {
  .infsin{
    width: 100%;
  }
   .fntL{
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .fntR{
    /*　floatを解除 */
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* TOPログイン画面 */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}
/* body */
#login {
  background: #e9e9e9;
  color: #5e5e5e;
  padding:20px;
}

.fntcenter {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}



/*新規会員登録*/
form.cmxform {
    margin:1em 0; padding:0;
}
form.cmxform fieldset {
    width:100%;
    border:0;
    border-top:1px solid #c9dca6;
    background:url(/content/img/css/cmxform-fieldset.gif) left bottom repeat-x;
}
form.cmxform legend {
    padding:1em 2px 0 2px;
    font-weight:bold;
}
form.cmxform em {
    color:#f00;
    background-color:transparent;
    font-weight:normal;
    font-style:normal;
    font-size:.8em;
}
form.cmxform label {
    display:block;
    float:left;
    width:120px;
}
form.cmxform fieldset ol {
    margin:0;
    padding:0;
}
form.cmxform fieldset li {
    list-style:none;
    clear:both;
    margin:0; padding:5px 5px 7px 7px;
    background:url(/content/img/css/cmxform-divider.gif) left bottom repeat-x;
}
form.cmxform fieldset fieldset {
    border:none;
    background:none;
}
    form.cmxform fieldset fieldset legend {
        font-weight:normal;
        padding-left:0;
    }
    form.cmxform fieldset fieldset label {
        float:none;
        width:auto;
    }
form.cmxform .sr {
    position:absolute;
    left:-9999px; top:0;
    width:1px; height:1px;
    overflow:hidden;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #0167cc;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #0167cc;
  color: #fff;
}


/*お問い合わせフォーム*/
<style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
</style>


/*PAY */


    HTML CSS

    Result

EDIT ON

@font-face {
  font-family: 'PaymentFont';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.woff') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.woff2') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.ttf') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184748/paymentfont-webfont.svg#paymentfont-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.space {
  margin-top: 5px;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0!important;
}


.max-width {
  max-width: 940px;
  width: 90%;
  margin: 0 auto;
}

.payment {
  padding: 5%;
  position: relative;
  top: 15vh;
  box-shadow: 15px 15px 0px -4px rgba(0, 0, 0, 0.3), 0px 0px 85px 0px rgba(0, 0, 0, 0.4), ;
;
}

.turquoise {
  background-color: #afd1c0;
  color: #416051;
  border: 1px solid rgb(111, 154, 111);
}

.headline {
  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid;
  line-height: 30px;
}

.headline abbr {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
  top: 15px;
}

.upper-bryant {
  font-family: "bryant-web", bryant, sans-serif;
  text-transform: uppercase;
}

.small-bold {
  font-weight: 600;
  font-size: 14px;
}

.micro {
  font-size: 9px;
  letter-spacing: 0.4px;
}

.tiny {
  font-size: 12px;
}

.huge {
  font-size: 22px;
}

.dark-content-box {
  background: rgba(0, 0, 0, 0.25);
  padding: 5%;
  color: #fff;
}

hr {
  border-top: 1px solid;
  border-bottom: 0;
}

input,
textarea {
  width: 100%;
  width: calc(100% - 2px);
  border-radius: 2px;
  border: 0;
  font-size: 18px;
  padding: 10px 0;
  font-family: "bryant-web", bryant, sans-serif;
  box-shadow: 0 0 0 1pt #eee;
  transition: box-shadow 0.3s;
}

input:focus,
textarea:focus,
input[type=number]:focus {
  box-shadow: 0 0 0 1pt #416051;
  outline: none;
}

textarea {
  min-height: 75px;
}

input,
textarea {
  margin: 10px 0;
  padding: 10px 2%;
  width: 96%;
}

textarea.btn,
input.btn {
  padding: 12px 0;
  margin: 10px 0;
  width: 100%;
}

section {
  margin: 0;
}

.cvc-box {
  position: relative;
}

.cvc {
  position: relative;
  top: 20px;
  height: 44px;
}

p .pf {
  font-size: 2vw;
  opacity: 0.7;
  margin: 0 0.5% 1%;
}

.cards {
  text-align: center;
  border: 1px solid;
}

.cards h6 {
  margin: -5px auto 5px;
  background: #849E91;
  width: 52%;

}

.dark-content-box.payment-info {
  min-height: 183px;
}

.dark-content-box.payment-info p {
  padding: 8px 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 22px;
}

.tall-slash {
  font-size: 32px;
  font-weight: 100;
  padding-top: 10px;
  display: block;
}


@media (min-width: 1100px) {
  p .pf {
    font-size: 22px;
  }
}

@media (max-width: 795px) {
  p .pf {
    font-size: 4.5vw;
  }
  .cards h6 {
    width: 40%;
  }
  .icon-wallet img {
    max-width: 60%;
  }
}

@media (max-width: 500px) {
  .cards h6 {
    width: 50%;
  }
  .icon-wallet img {
    max-width: 40%;
  }
}
